<!DOCTYPE html>
<html lang="de">
<head>
  <title>Game Page Menu</title>
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<script>
</script>
<div class="icons">
	<br><br><span class="h1" id="GamePageMenu">Game Tags</span><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 1</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 2</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 3</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 4</button><br><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 5</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 6</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 7</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 8</button><br><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 9</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 10</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 11</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 12</button><br><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 13</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 14</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 15</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 16</button><br><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 17</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 18</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 19</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 20</button><br><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 21</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 22</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 23</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 24</button><br><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 25</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 26</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 27</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 28</button><br><br>
	<button class="button" name="StartHomeApp" id="Button_1">Tag 20</button>&nbsp;&nbsp;
	<button class="button" name="StartHomeApp" id="Button_1">Tag 30</button>&nbsp;&nbsp;
</div>  
</body>
</html>
